* {
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;

}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    font-family: "Montserrat";
}

main {
    display: flex;
    max-width: 600px;

}

.content {
    width: 50%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    padding: 30px;
}


.container-img {
    background-image: url(images/image-product-desktop.jpg);
    width: 50%;
    background-size: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

h2 {

    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.17rem;
    color: #6C7289;
    font-weight: 500;

}

h1,
.price-bold {
    line-height: 32px;
    font-family: "Fraunces";
    font-size: 2.28rem;
}

h1 {
    padding-top: 20px;

}

p {

    font-weight: 500;
    color: hsl(228, 12%, 48%);
    padding-top: 25px;
    line-height: 23px;
}

.container-price {

    display: flex;
    align-items: center;
    padding-top: 20px;
}

.price-bold {
    color: hsl(158, 36%, 37%);
    font-size: xx-large;
    align-items: flex-start;
    margin-right: 20px;

}

.price-barre {
    display: inline-block;
    text-decoration: line-through;
    color: #6C7289;
    font-size: 1.07rem;
    line-height: 23px;
}


button {
    background-color: hsl(158, 36%, 37%);
    height: 50px;
    width: 100%;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border: none;
    display: inline-block;
    padding: 15px 60px;
    margin-top: 20px;

}

button img {
    margin-right: 10px;
    display: inline-block;
}

button:hover {
    background-color: hsl(158, 36%, 20%);
}

@media screen and (max-width:600px) {
    body {
        max-width: 375px;
    }

    main {

        flex-wrap: wrap;
        flex-direction: column;

    }

    .container-img {
        content: url(images/image-product-mobile.jpg);

        border-radius: 8px 8px 0 0;
        width: 100%;

    }

    .content {
        border-radius: 0 0 8px 8px;
        width: 100%;
    }


}